#devise-sessions-new-container {
  margin-top: 10vh;

  .logo {
    width: 150px;
  }

  .card {
    padding: 12px 36px;
    width: 400px;
    border-radius: 15px;
  }
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      #ee7724,
      #d8363a,
      #dd3675,
      #b44593
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
}
