.format-form {
  margin-top: 14vh;

  .logo {
    width: 150px;
  }

  .card {
    padding: 12px 36px;
    width: 500px;
    border-radius: 15px;
    height: 550px;
  }
}
.authentication-bg {
  background-color: $white;
}
.logo {
  width: 150px;
}
#devise-registrations-new-container {
  // .authentication-wrapper {
  //   flex-basis: 100%;
  //   min-height: 100vh;
  //   width: 100%;
  // }
}
