@import '../shared/index';
@import './theme';

// components
@import './components/navbar';

// views
// Your views import here...
.css-11b150r {
  flex-shrink: 0;
  display: inline-flex;
  min-width: 0px;
  color: rgba(76, 78, 100, 0.87);
  transition: margin 0.25s ease-in-out 0s;
  margin-right: 0.5rem;
}
