#dashboard-index-container data-controller='dashboard'
  .page-header
    .container-xl
      h2.page-title
        | Rails Template From Ben - Golden Owl
  .page-body
    .container-xl
      p
        | 👌👌👌 Welcome to Golden Owl Rails Template 😍😍😍
