$white: #ffffff;
$black: #000000;
$grey: #b8c2de;
$dark: #0e1529;
$purple: rgb(120, 126, 255);
$gray: #f5f5f5;
$primary: #206bc4;
$secondary: #626976;
$success: #2fb344;
$info: #4299e1;
$warning: #f76707;
$danger: #d63939;
$light: #fafbfc;
$dark: #1e293b;
$muted: #626976;
$blue: #206bc4;
$azure: #4299e1;
$indigo: #4263eb;
$purple1: #ae3ec9;
$pink: #d6336c;
$red: #d63939;
$orange: #f76707;
$yellow: #f59f00;
$lime: #74b816;
$green: #2fb344;
$teal: #0ca678;
$cyan: #17a2b8;
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0a66c2;
$google: #dc4e41;
$youtube: #ff000b;
$vimeo: #1ab7ea;
$dribbble: #ea4c89;
$github: #181717;
$instagram: #e4405f;
$pinterest: #bd081c;
$vk: #6383a8;
$rss: #ffa500;
$flickr: #0063dc;
$bitbucket: #0052cc;
$tabler: #206bc4;
$primary-rgb: 32, 107, 196;
$secondary-rgb: 98, 105, 118;
$success-rgb: 47, 179, 68;
$info-rgb: 66, 153, 225;
$warning-rgb: 247, 103, 7;
$danger-rgb: 214, 57, 57;
$light-rgb: 250, 251, 252;
$dark-rgb: 30, 41, 59;
$muted-rgb: 98, 105, 118;
$blue-rgb: 32, 107, 196;
$azure-rgb: 66, 153, 225;
$indigo-rgb: 66, 99, 235;
$purple-rgb: 174, 62, 201;
$pink-rgb: 214, 51, 108;
$red-rgb: 214, 57, 57;
$orange-rgb: 247, 103, 7;
$yellow-rgb: 245, 159, 0;
$lime-rgb: 116, 184, 22;
$green-rgb: 47, 179, 68;
$teal-rgb: 12, 166, 120;
$cyan-rgb: 23, 162, 184;
$facebook-rgb: 59, 89, 152;
$twitter-rgb: 29, 161, 242;
$linkedin-rgb: 10, 102, 194;
$google-rgb: 220, 78, 65;
$youtube-rgb: 255, 0, 0;
$vimeo-rgb: 26, 183, 234;
$dribbble-rgb: 234, 76, 137;
$github-rgb: 24, 23, 23;
$instagram-rgb: 228, 64, 95;
$pinterest-rgb: 189, 8, 28;
$vk-rgb: 99, 131, 168;
$rss-rgb: 255, 165, 0;
$flickr-rgb: 0, 99, 220;
$bitbucket-rgb: 0, 82, 204;
$tabler-rgb: 32, 107, 196;
$card-bg: #ffffff;
$card-bg-rgb: 255, 255, 255;
$border-color: #e6e7e9;
$border-color-rgb: 230, 231, 233;
$border-color-light: #f2f3f4;
$border-color-light-rgb: 242, 243, 244;
$nav-item-hover: rgba(76, 78, 100, 0.05);
