#aside {
  .active {
    background-color: $purple;
    border-radius: 10px;
    width: 90%;
    margin: auto;
  }
  .active svg {
    fill: $white;
  }

  .nav-item:not(.active):hover {
    border-radius: 10px;
    width: 90%;
    margin: auto;
    text-decoration: none;
    background-color: $nav-item-hover;
  }

  .nav-link {
    padding: 0.7rem 2.75rem;
  }

  .active > .nav-link {
    color: $white;
  }

  .active:after {
    border: none;
  }

  .dropdown-item {
    min-width: 0;
    display: flex;
    width: auto;
    padding-left: 1.25rem;
    color: inherit;
    flex-direction: row;
  }
  .dropdown-item {
    min-width: 0;
    display: flex;
    width: auto;
    padding-left: 1.25rem;
  }
}
